.card {
    max-width: 30rem;
    height: 40rem;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
  }
  
  .card-content {
    padding: 17px;
  }
  
  .card-title {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  