.contact-us {
    max-width: 5000px;
    margin: auto;
    padding: 20px;
  }
  
  .contact-details {
    margin-bottom: 20px;
  }
  
  .contact-details p {
    margin: 5px 0;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .contactdetails {
    /* Add any styles for the main contact-us container */
  }
  
  .contactdetails h1 {
    margin-bottom: 4rem; /* Adjust this value for more or less spacing */
  }
  
  .origin {
    margin-top: 3rem; /* Adjust this value for more or less spacing */
  }
  